{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block content %}
    <div class="content-main">
        <div class="page-header">
            <h1>{{ name }}</h1>
        </div>
        <div style="float:left">
        {% block description %}
            {{ description }}
        {% endblock %}
        </div>

        {% if paginator %}
            <nav style="float: right">
            {% get_pagination_html paginator %}
            </nav>
        {% endif %}

        <div class="request-info" style="clear: both" >
            {% if style == 'list' %}
                {% include "rest_framework/admin/list_home.html" %}
            {% else %}
                {% include "rest_framework/admin/detail.html" %}
            {% endif %}
        </div>

        {% if paginator %}
            <nav style="float: right">
            {% get_pagination_html paginator %}
            </nav>
        {% endif %}
    </div>
{% endblock %}