{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}
{% block content %}
  <div class="content-main">
    <div class="page-header">
        <h1>{{ description }}</h1>
    </div>
    {% if paginator %}
      <nav style="float: right">
        {% get_pagination_html paginator %}
      </nav>
    {% endif %}
  </div>

  {% if display_edit_forms %}
    {% if put_form or raw_data_put_form or raw_data_patch_form %}
      <div {% if put_form %}class="tabbable"{% endif %}>
        {% if put_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#put-object-form" data-toggle="tab">Interview</a>
            </li>
          </ul>
        {% endif %}

        <div class="well tab-content">
          {% if put_form %}
            <div class="tab-pane" id="put-object-form">
              <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                  {{ put_form }}

                    <form>
                    <button style="float: right;" class="btn btn-primary js-tooltip">Finish Interview</button>
                    </form>
                    <form class="button-form" action="../cancel/">
                    <button style="float:right;" type="submit" class="btn btn-primary js-tooltip">Put Back to Queue</button>
                   </form>
                </fieldset>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}