{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}
{% block content %}
  <div class="content-main">
    <div class="page-header">
        <h1>{{ description }}</h1>
    </div>

    {% if paginator %}
      <nav style="float: right">
        {% get_pagination_html paginator %}
      </nav>
    {% endif %}
      <div class="request-info" style="clear: both" >
        {% if style == 'list' %}
            {% include "rest_framework/admin/list_interview_register.html" %}
        {% else %}
            {% include "rest_framework/admin/detail.html" %}
        {% endif %}
    </div>
  </div>

  {% if display_edit_forms %}

    {% if post_form or raw_data_post_form %}
      <div {% if post_form %}class="tabbable"{% endif %}>
        {% if post_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#post-object-form" data-toggle="tab">Register</a>
            </li>
          </ul>
        {% endif %}

        <div class="well tab-content">
          {% if post_form %}
            <div class="tab-pane" id="post-object-form">
              {% with form=post_form %}
                <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                  <fieldset>
                    {% csrf_token %}
                      {% if error_form %}
                        {{ error_form }}
                      {% else %}
                        {{ post_form }}
                      {% endif %}
                    <div class="form-actions">
                      <button class="btn btn-primary" title="Register to this Department">Register</button>
                    </div>
                  </fieldset>
                </form>
              {% endwith %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
      
{% endblock %}